<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Pedido</title>
</head>
<body>
    <h1>Eliminar Pedido</h1>
    <form method="POST" action="/eliminarpedido/<%= pedido.id_pedido %>">
        <p>¿Estás seguro de que deseas eliminar el pedido con ID <%= pedido.id_pedido %>?</p>
        <button type="submit">Eliminar</button>
    </form>
    
</body>
</html>
