<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <% users.forEach(user =>{ %>
        <li><%= user.id_user %></li>
        <li><%= user.name_user %></li>
        <li> <%= user.email %></li>
        <li> <%= user.telefono %></li>


   <%}); %>
</body>
</html>